[submodule ".registry"]
	path = .registry
	url = https://github.com/marchionnilab/marchionnilab.r-universe.dev
	branch = HEAD
[submodule "RTopper"]
	path = RTopper
	url = https://github.com/marchionniLab/RTopper
[submodule "covid19census"]
	path = covid19census
	url = https://github.com/marchionniLab/covid19census
[submodule "divergence"]
	path = divergence
	url = https://github.com/marchionniLab/divergence
[submodule "lpcover"]
	path = lpcover
	url = https://github.com/marchionniLab/lpcover
[submodule "switchBox"]
	path = switchBox
	url = https://github.com/marchionniLab/switchBox
